.container {
    display: flex;
    height: 100vh;
    position: relative;
}

.cardsContainer {
    flex: 1;
    padding: 20px;
}

.cardWrapper {
    display: flex;
    gap: 20px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 220px;
    position: fixed;
    top: 20%;
    min-height: 620px;
    padding: 18px;
    overflow-y: auto;
    border: 1px solid #000;
    border-radius: 10px;
}





